altair==5.3.0
blinker==1.9.0
cachetools==5.3.3
click==8.1.7
gitpython==3.1.43
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
protobuf==4.25.3
pyarrow==16.0.0
pydeck==0.8.1b0
requests==2.31.0
streamlit==1.44.1
tenacity==8.2.3
toml==0.10.2
tornado==6.4
typing-extensions==4.11.0
watchdog==4.0.0
